<!doctype html>
<html lang="en" ng-app="angularProject" class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stride!</title>
  <link rel="stylesheet" href="lib/bootstrap-3.3.2/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="lib/bootstrap-3.3.2/dist/css/bootstrap-theme.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="lib/c3-0.4.9/c3.css"/>
</head>

<body auth-application>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/d3/d3.min.js" charset="utf-8"></script>
<script src="lib/c3-0.4.9/c3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDMURA_ZmIfWvIEDORVbUEjyQJtKrCXIQ"></script>

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">stride</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="homeCtrl">

            <ul class="nav navbar-nav">
              <li ng-class="{active: isActive('#/')}"><a href="#/">Home</a></li>
              <li ng-class="{active: isActive('#/racekeeper')}"><a ng-href="#/racekeeper">Race Tracker</a></li>
              <li ng-class="{active: isActive('#/racefinder')}"><a ng-href="#/racefinder">Event Mapper</a></li>
              <li ng-class="{active: isActive('#/raceplan')}"><a ng-href="#/raceplan">Training Planner</a></li>
              <li ng-class="{active: isActive('#/profile')}"><a ng-href="#/profile">Profile</a></li>
              <li ng-class="{active: isActive('#/register')}"><a ng-href="#/register">Register</a></li>
              <li ng-if="loggedIn == true"><strong> {{logname}}
                <span ng-repeat="detail in details">{{detail.username}}</span></strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div id="main">
  <div class="container body-content">
      <div ng-view=""></div>
  </div>
<hr>
  <div class="footer">
  <div class="container">
    <p>Made with <span class="glyphicon glyphicon-heart"></span> by No Excuses Productions. &copy; 2015</p>
  </div>
</div>
</div>

<!-- Latest compiled and minified JavaScript -->
  <script src="lib/jquery-1.11.2.js"></script>
  <script src="lib/bootstrap-3.3.2/dist/js/bootstrap.js"></script>
  <script src="js/constants.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/racekeepercontroller.js"></script>
  <script src="js/racedetailcontroller.js"></script>
  <script src="js/raceplannercontroller.js"></script>
  <script src="js/raceplandetailcontroller.js"></script>
  <script src="js/raceplaneditcontroller.js"></script>
  <script src="js/profile.js"></script>
  <script src="js/editprofile.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/ui-bootstrap-tpls-0.3.0.js"></script>
  <script src="lib/http-auth-interceptor.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-cookies.js"></script>
</body>
</html>