<ul class="nav nav-tabs">
  <!--<li role="presentation"><a href="#/racekeeper">Past Races</a></li>-->
  <li role="presentation" class="active"><a href="#/racekeeper/raceanalysis">My Race Results</a></li>
  <li role="presentation"><a href="#/racefinder">My Race Map</a></li>
  <li role="presentation"><a href="#/racekeeper/addrace">Add Race</a></li>
</ul>

<div class="page-header">
    <h1>Race Results</h1>
</div>

<div class="btn pull-right btn-group">
    <label class="btn btn" ng-model="radioModel" btn-radio="All"><a ng-href="#/racekeeper/raceanalysis">All</a></label>
    <label class="btn btn" ng-model="radioModel" btn-radio="5K"><a ng-href="#/racekeeper/raceanalysis/5K">5K</a></label>
    <label class="btn btn" ng-model="radioModel" btn-radio="10K"><a ng-href="#/racekeeper/raceanalysis/10K">10K</a></label>
    <label class="btn btn" ng-model="radioModel" btn-radio="half"><a ng-href="#/racekeeper/raceanalysis/half">Half Marathon</a></label>
    <label class="btn btn" ng-model="radioModel" btn-radio="marathon"><a ng-href="#/racekeeper/raceanalysis/marathon">Marathon</a></label>
    <label class="btn btn active" ng-model="radioModel" btn-radio="50K"><a ng-href="#/racekeeper/raceanalysis/50K">50K</a></label>
    <label class="btn btn" ng-model="radioModel" btn-radio="100K"><a ng-href="#/racekeeper/raceanalysis/100K">100K</a></label>
    <label class="btn btn" ng-model="radioModel" btn-radio="100M"><a ng-href="#/racekeeper/raceanalysis/100M">100 Mile</a></label>
</div>

<p class="lead">50K (31.1 Mile) Races: <strong>{{ getTotalFifties() }}</strong></p>

<div>
<div id="race50Kchart"></div>
<div ng-init="showrace50KGraph()">
</div>
</div>
<hr>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>50K Races</strong></div>
        <table class="table table-hover">
        <thead>
        <tr>
            <th ng-click="sortBy='event';reverse=!reverse">Event</th>
            <th ng-click="sortBy='date';reverse=!reverse">Date</th>
            <th ng-click="sortBy='finishTime';reverse=!reverse">Finish Time</th>
            <th ng-click="sortBy='pace';reverse=!reverse">Pace</th>
        </tr>
        </thead>

        <tbody ng-repeat="fifty in fifties | orderBy: sortBy:reverse" class="fifty">
            <tr>
                <td>{{ fifty.event }}</td>
                <td>{{ fifty.date | date:'MMM d, yyyy' }}</td>
                <td>{{ fifty.finishTime * 1000 | date:'H:mm:ss':'UTC' }}</td>
                <td>{{ fifty.pace | pace }}</td>
            </tr>
        </tbody>
    </table>
</div>