<button class="btn pull-right btn" ng-click="logout()">Logout</button>

<ul class="nav nav-tabs">
  <!--<li role="presentation"><a href="#/racekeeper">Past Races</a></li>-->
  <li role="presentation"><a href="#/racekeeper/raceanalysis">My Race Results</a></li>
  <li role="presentation"><a href="#/racefinder">My Race Map</a></li>
  <li role="presentation" class="active"><a href="#/racekeeper/addrace">Add Race</a></li>
</ul>

<div class="page-header">
    <h1>Add Race</h1>
</div>

<div class="well">
    <form name="newraceForm" id="addrace">
    <div class="form-group">
        <label for="formRaceEvent">Event name:</label>
        <input type="text" class="form-control" id="formRaceEvent" placeholder="Enter name of event" ng-model="formRaceEvent" required>
    </div>

    <div class="form-group">
        <label for="formRaceDate">Date:</label>
        <input type="date" class="form-control" id="formRaceDate" ng-model="formRaceDate" required>
    </div>

    <div class="form-group">
        <label for="formRaceLocation">Location:</label>
        <input type="text" class="form-control" id="formRaceLocation" placeholder="Enter city/state or zip of race location" ng-model="formRaceLocation" required>
    </div>

    <div class="form-group">
        <label for="formRaceDistance">Distance:</label>
        <select class="form-control" id="formRaceDistance" ng-model="formRaceDistance" required>
            <option style="display:none" value class>Select a distance</option>
            <option value="3.107">5K</option>
            <option value="6.214">10K</option>
            <option value="13.1">Half Marathon</option>
            <option value="26.2">Marathon</option>
            <option value="31.069">50K</option>
            <option value="62.137">100K</option>
            <option value="100.0">100 Miles</option>
        </select>
    </div>

    <div class="form-group">
        <label for="formRaceFinishTime">Finish time (as HH:MM:SS):</label>
        <input type="text" class="form-control" id="formRaceFinishTime" placeholder="Enter your finish time as HH:MM:SS" ng-model="formRaceFinishTime" required>
    </div>

    <div class="form-group">
        <label for="formRaceBibNumber">Bib number:</label>
        <input type="number" class="form-control" id="formRaceBibNumber" placeholder="Enter your bib number" ng-model="formRaceBibNumber">
    </div>

    <div class="form-group">
        <label for="formRaceTotalinRace">Total in race:</label>
        <input type="number" class="form-control" id="formRaceTotalinRace" placeholder="Enter total number of racers" ng-model="formRaceTotalinRace">
    </div>

    <div class="form-group">
        <label for="formRaceOverallPlace">Overall place:</label>
        <input type="number" class="form-control" id="formRaceOverallPlace" placeholder="Enter your overall place" ng-model="formRaceOverallPlace">
    </div>

    <div class="form-group">
        <label for="formRaceTotalinGender">Total in gender:</label>
        <input type="number" class="form-control" id="formRaceTotalinGender" placeholder="Enter number of racers in your gender" ng-model="formRaceTotalinGender">
    </div>

    <div class="form-group">
        <label for="formRaceGenderPlace">Gender place:</label>
        <input type="number" class="form-control" id="formRaceGenderPlace" placeholder="Enter your gender place" ng-model="formRaceGenderPlace">
    </div>

    <div class="form-group">
        <label for="formRaceTotalinDivision">Total in age/gender division:</label>
        <input type="number" class="form-control" id="formRaceTotalinDivision" placeholder="Enter number of racers in your age/gender division" ng-model="formRaceTotalinDivision">
    </div>

    <div class="form-group">
        <label for="formRaceDivisionPlace">Division place:</label>
        <input type="number" class="form-control" id="formRaceDivisionPlace" placeholder="Enter your age/gender division place" ng-model="formRaceDivisionPlace">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="addRace()">Submit</button>
    <a href="#/racekeeper/raceanalysis" class="btn">Cancel</a>
</form>
</div>