<button class="btn pull-right btn" ng-click="logout()">Logout</button>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#/racekeeper">Past Races</a></li>
  <li role="presentation"><a href="#/racekeeper/raceanalysis">Race Analysis</a></li>
  <li role="presentation" class="active"><a href="#/racekeeper/addrace">Add a Race</a></li>
</ul>

<div class="page-header">
    <h1>Add Race</h1>
</div>

<div class="well">
<p class="lead" id="addrace">
    <form class="form-group" name="newraceForm">
    <p>Event name:  <input type="text" ng-model="formRaceEvent" required></p>
    <p>Date:  <input type="date" ng-model="formRaceDate" required></p>
    <p>Distance:  <select ng-model="formRaceDistance" required>
        <option style="display:none" value class>select a distance</option>
        <option value="3.107">5K</option>
        <option value="6.214">10K</option>
        <option value="13.1">Half Marathon</option>
        <option value="26.2">Marathon</option>
        <option value="31.069">50K</option>
        <option value="62.137">100K</option>
        <option value="100.0">100 Miles</option></select></p>
    <p>Bib number:  <input type="number" ng-model="formRaceBibNumber"></p>
    <!--ng-pattern="(\n{1,2}:)?(\n{1,2}:)?\n{1,2}"-->
    <p>Finish time (enter as HH:MM:SS):  <input type="text" ng-model="formRaceFinishTime" required></p>
    <p>Total in race:  <input type="number" ng-model="formRaceTotalinRace"></p>
    <p>Overall place:  <input type="number" ng-model="formRaceOverallPlace"></p>
    <p>Total in gender:  <input type="number" ng-model="formRaceTotalinGender"></p>
    <p>Gender place:  <input type="number" ng-model="formRaceGenderPlace"></p>
    <p>Total in age/gender division:  <input type="number" ng-model="formRaceTotalinDivision"></p>
    <p>Division place:  <input type="number" ng-model="formRaceDivisionPlace"></p>
    <p>Location:  <input type="text" ng-model="formRaceLocation"></p>
    <button class="btn btn-primary" ng-click="addRace()"><strong>Add Race</strong></button>
    <a href="#/racekeeper" class="btn">Cancel</a>
</form>
</p>
</div>