<button class="btn pull-right btn" ng-if="loggedIn != true"><a ng-href="#/login">Login</a></button>
<div ng-if="loggedIn == true">
<button class="btn pull-right btn" ng-click="logout()">Logout</button>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#/raceplan">Existing Plans</a></li>
  <li role="presentation"><a href="#/raceplan/myplans">Create New Plan</a></li>
</ul>

<div class="page-header" ng-controller="raceplaneditCtrl">
    <h1>{{race.event}}</h1>
</div>

<div class="well">
    <form class="form-group" name="editraceForm">
    <p class="lead" id="editrace"><strong>Update race goals:</strong></p>
    <p>Event name: <input ng-model="race.event" required></p>
    <p>Date:  <input ng-model="race.date" type="date" required></p>
    <p>Distance:  <select ng-model="race.distance" required>
        <option style="display:none" value class>select a distance</option>
        <option value="3.107">5K</option>
        <option value="6.214">10K</option>
        <option value="13.1">Half Marathon</option>
        <option value="26.2">Marathon</option>
        <option value="31.069">50K</option>
        <option value="62.137">100K</option>
        <option value="100.0">100 Miles</option></select></p>
    <p>Finish time (enter as HH:MM:SS):  <input ng-model="race.finishTime" required></p>
    <p>Location:  <input ng-model="race.location"></p>
    <button class="btn btn-primary" ng-click="updateRace()"><strong>Update Race</strong></button>
    <a href="#/raceplan" class="btn">Cancel</a>
</form>
</p>
</div>
