<div ng-if="loggedIn == true">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#/raceplan">My Training Plans</a></li>
  <li role="presentation"><a href="#/raceplan/myplans">Create New Plan</a></li>
</ul>

<div class="page-header" ng-controller="raceplaneditCtrl">
    <h1>{{race.event}}</h1>
</div>

<div class="well">
    <p class="lead"><strong>Update Race or Goals</strong></p>
    <form name="editplanForm" id="editplan">

    <div class="form-group">
        <label>Event name:</label>
        <input type="text" class="form-control" ng-model="race.event" required>
    </div>

    <div class="form-group">
        <label>Date:</label>
        <input type="date" class="form-control" ng-model="race.date" required>
    </div>

    <div class="form-group">
        <label>Location:</label>
        <input type="text" class="form-control" ng-model="race.location" required>
    </div>

    <div class="form-group">
         <label>Distance:</label>
        <select class="form-control" ng-model="race.distance" required>
            <option style="display:none" value class>select a distance</option>
            <option value="3.107">5K</option>
            <option value="6.214">10K</option>
            <option value="13.1">Half Marathon</option>
            <option value="26.2">Marathon</option>
            <option value="31.069">50K</option>
            <option value="62.137">100K</option>
            <option value="100.0">100 Miles</option>
        </select>
    </div>

    <div class="form-group">
        <label>Finish time goal (as HH:MM:SS):</label>
        <input type="text" class="form-control" ng-model="race.finishTime" required>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="updateRace()">Submit</button>
    <a href="#/raceplan" class="btn">Cancel</a>
</form>
</div>
</div>