<button class="btn pull-right btn" ng-if="loggedIn != true"><a ng-href="#/login">Login</a></button>
<div ng-if="loggedIn == true">
<button class="btn pull-right btn" ng-click="logout()">Logout</button>
<div class="page-header">
    <h1>Edit Profile</h1>
</div>
<div class="well" ng-controller="editprofileCtrl" class="user">
<p class="lead" id="editprofile">
    <form class="form-group" name="editprofileForm">
    <p class="lead"><strong>Update Profile:</strong></p>
    <p>First Name: <input ng-model="user.first_name" required></p>
    <p>Last Name: <input ng-model="user.last_name" required></p>
    <p>Username: <input ng-model="user.username" required</p>
    <p>Email: <input ng-model="user.email" required></p>
    <button class="btn btn-primary" ng-click="updateProfile()"><strong>Update</strong></button>
    <a href="#/profile" class="btn">Cancel</a>
    </form>
</p>
</div>
</div>