  <!-- Home Partial -->
<button class="btn pull-right btn" ng-click="logout()" ng-if="loggedIn == true">Logout</button>
<button class="btn pull-right btn" ng-if="loggedIn != true"><a ng-href="#/login">Login</a></button>
<br><br>
<div class="jumbotron other-color">
  <h1>Find Your Stride</h1>
  <p class="lead">
    Achieve your running goals.<br>
    Be your own coach.<br>
    It's time to start planning your next race.
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="#/register">Get Started <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
    <div class="col-md-4">
    <h4>Race Tracker</h4>
    <p>Keep track of your past races and performance progression.</p>
    </div>

    <div class="col-md-4">
    <h4>Event Mapper</h4>
    <p>See where you've run.</p>
    </div>

    <div class="col-md-4">
    <h4>Training Planner</h4>
    <p>Set new goals for an upcoming event and create a training plan to get race-ready.</p>
    </div>

</div>




<!--
    <p><a class="btn btn-default" href="races">Let's get started! &raquo;</a></p>



<div style="margin-left:5%">

  <h2>AngularJS Django-Rest-Framework Seed</h2>

  <table ng-show="users.length" cellspacing="5">
    <tr align="left">
      <th>ID</th>
      <th>Username</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
    </tr>
  </table>

  <br>

  <table ng-show="addresses.length" cellspacing="5">
    <tr align="left">
      <th>Street</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="address in addresses">
      <td>{{address.street}}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
    </tr>
  </table>
</div>