  <!-- Home Partial -->
<button class="btn pull-right btn" ng-click="logout()">Logout</button>

<div class="jumbotron other-color">

  <h1>Race Tracker</h1>
  <p class="lead">
    Track your progress over time to help you start planning your next event.
  </p>
  <p><a class="btn btn-lg btn-info" ng-href="#/">Get Started <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
    <div class="col-md-4">
    <h4>Keep track of your race history and progress</h4>
    <p>Copy here</p>
    <p><a class="btn btn-default" href="races">Let's get started! &raquo;</a></p>
    </div>

    <div class="col-md-4">
    <h4>Find your next race</h4>
    <br>
    <p>Copy here</p>
    <p><a class="btn btn-default" href="races">Let's get started! &raquo;</a></p>
    </div>

    <div class="col-md-4">
    <h4>Create a training plan</h4>
    <br>
    <p>Copy here</p>
    <p><a class="btn btn-default" href="races">Let's get started! &raquo;</a></p>
    </div>

</div>




<!--
<div style="margin-left:5%">

  <h2>AngularJS Django-Rest-Framework Seed</h2>

  <table ng-show="users.length" cellspacing="5">
    <tr align="left">
      <th>ID</th>
      <th>Username</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
    </tr>
  </table>

  <br>

  <table ng-show="addresses.length" cellspacing="5">
    <tr align="left">
      <th>Street</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="address in addresses">
      <td>{{address.street}}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
    </tr>
  </table>
</div>