  <!-- Home Partial -->
<button class="btn pull-right btn" ng-click="logout()" ng-if="loggedIn == true">Logout</button>
<button class="btn pull-right btn" ng-if="loggedIn != true"><a ng-href="#/login">Login</a></button>
<br><br>
<div class="jumbotron other-color">
  <h1>Find Your Stride</h1>
  <p class="lead">
    Plan your next race.<br>
    Be your own coach.<br>
    Achieve your running goals.<br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/register">Join Today <span class="glyphicon glyphicon-check"></span></a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Training Planner</h3>
        <p><span class="glyphicon glyphicon-pencil"></span>  Set your goals for an upcoming event.</p>
        <p><span class="glyphicon glyphicon-calendar"></span>  Get a training plan that provides day-to-day workout goals.</p>
        <p><span class="glyphicon glyphicon-road"></span>  Follow the training plan and you'll be on your way to getting race-ready.</p>
        <p><a class="btn btn-primary" href="#/raceplan" role="button">Get Started <span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
    <div class="col-md-6">
        <h3>Race Tracker</h3>
        <p><span class="glyphicon glyphicon-list-alt"></span>  Save all your race results in one location.</p>
        <p><span class="glyphicon glyphicon-stats"></span>  Analyze your performance over time by race distance.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>  See your race locations mapped.</p>
        <p><a class="btn btn-primary" href="#/racekeeper/raceanalysis" role="button">Get Started <span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
</div>




<!--
    <p><a class="btn btn-default" href="races">Let's get started! &raquo;</a></p>



<div style="margin-left:5%">

  <h2>AngularJS Django-Rest-Framework Seed</h2>

  <table ng-show="users.length" cellspacing="5">
    <tr align="left">
      <th>ID</th>
      <th>Username</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
    </tr>
  </table>

  <br>

  <table ng-show="addresses.length" cellspacing="5">
    <tr align="left">
      <th>Street</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="address in addresses">
      <td>{{address.street}}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
    </tr>
  </table>
</div>