<ul class="nav nav-tabs">
  <li role="presentation"><a href="#/raceplan">My Training Plans</a></li>
  <li role="presentation" class="active"><a href="#/raceplan/myplans">Create New Plan</a></li>
</ul>

<div class="page-header">
    <h1>Create a New Training Plan</h1>
</div>

<p class="lead">Let's start planning your next event by creating a day-by-day training plan based on your race goal time.</p>
<div class="well">
    <p class="lead"><strong>Enter the details about your upcoming race and goals.</strong></p>
    <form name="newplanForm" id="addplan">

    <div class="form-group">
        <label for="formPlanEvent">Event name:</label>
        <input type="text" class="form-control" id="formPlanEvent" ng-model="formPlanEvent" placeholder="Enter name of event" required>
    </div>

    <div class="form-group">
        <label for="formPlanDate">Date:</label>
        <input type="date" class="form-control" id="formPlanDate" ng-model="formPlanDate" required>
    </div>

    <div class="form-group">
        <label for="formPlanLocation">Location:</label>
        <input type="text" class="form-control" id="formPlanLocation" ng-model="formPlanLocation" placeholder="Enter city/state or zip of race location" required>
    </div>

    <div class="form-group">
        <label for="formPlanDistance">Distance:</label>
        <select class="form-control" id="formPlanDistance" ng-model="formPlanDistance" required>
        <option style="display:none" value class>Select a distance</option>
        <option value="3.107">5K</option>
        <option value="6.214">10K</option>
        <option value="13.1">Half Marathon</option>
        <option value="26.2">Marathon</option>
        <option value="31.069">50K</option>
        <option value="62.137">100K</option>
        <option value="100.0">100 Miles</option>
        </select>
    </div>

    <div class="form-group">
        <label for="formPlanFinishTime">Finish time goal (as HH:MM:SS):</label>
        <input type="text" class="form-control" id="formPlanFinishTime" ng-model="formPlanFinishTime" placeholder="Enter your goal finish time as HH:MM:SS" required>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="createPlan()">Submit</button>
    <a href="#/raceplan" class="btn">Cancel</a>
</form>
</div>
