<button class="btn pull-right btn" ng-if="loggedIn != true"><a ng-href="#/login">Login</a></button>
<div ng-if="loggedIn == true">
<button class="btn pull-right btn" ng-click="logout()">Logout</button>
<div class="page-header">
    <h1>Athlete Profile</h1>
</div>
<div class="well" ng-controller="profileCtrl" ng-repeat="detail in details" class="user">
<p><strong>Name: </strong>{{detail.first_name}} {{detail.last_name}}</p>
<p><strong>Username: </strong>{{detail.username}}</p>
<p><strong>Email: </strong>{{detail.email}}</p>
<p><strong>Date Joined: </strong>{{detail.date_joined | date:'MMM d, yyyy'}}</p>
<button class="btn btn"><a ng-href="#/profile/{{detail.id}}">Edit Profile</a></button>
</div>

</div>