<button class="btn pull-right btn" ng-if="loggedIn != true"><a ng-href="#/login">Login</a></button>
<div ng-if="loggedIn == true">
<button class="btn pull-right btn" ng-click="logout()">Logout</button>
<div class="page-header">
    <h1>Athlete Profile</h1>
</div>
<div class="well">
<p>Username: {{user.username}}</p>
<p>Name: {{user.first_name}} {{user.last_name}}</p>
<p>Email address: {{user.email}}</p>
<p>Date joined: {{user.date_joined}}</p>
<p>Last login: {{user.last_login}}</p>
</div>
</div>