<button class="btn pull-right btn" ng-if="loggedIn != true"><a ng-href="#/login">Login</a></button>
<div ng-if="loggedIn == true">
<button class="btn pull-right btn" ng-click="logout()">Logout</button>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#/raceplan">Existing Plans</a></li>
  <li role="presentation"><a href="#/raceplan/myplans">Create New Plan</a></li>
</ul>

 <div class="page-header">
    <h1>Training Planner</h1>
        <p>Training plans are individualized based on the distance of your race, the race date, and your finish time goal.</p>

<dl class="dl-horizontal">
  <dt>Length of plan</dt>
  <dd>The length of the training plan depends on your race distance. 5K and 10K races have a 12-week training plan, half marathons have an 18-week plan, and marathon and above distance races are 16-week plans.</dd>
  <dt>Format of schedule</dt>
  <dd>The weekly schedule consists of three run workouts, two cross-training workouts, and two rest days. Cross-training helps to improve endurance while avoiding overuse injuries. Rest days are as important as workout days. You can do these workouts in whatever order works for your schedule.</dd>
  <dt>3 runs per week</dt>
  <dd>Each week there are three run workouts, which includes a sprint run, tempo run, and a long run. They work together to improve endurance, lactate-threshold running pace, and leg speed.</dd>
  <dt>Target pace</dt>
  <dd>The target paces for each run workout are based on your race finish time goal. Sprints and tempo runs will be faster than your race goal and the long runs will be at or slower than your goal race pace.</dd>
</dl>
 </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Training Plans for My Upcoming Events</strong></div>
        <table class="table table-hover">
        <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Distance (miles)</th>
            <th>Goal Finish Time</th>
            <th>Goal Pace</th>
        </tr>
        </thead>

        <tbody ng-repeat="race in races | orderBy:'date'">
            <tr>
                <td><a href="#/raceplan/myplans/{{race.id}}">{{ race.event }}</a></td>
                <td>{{ race.date | date:'MMM d, yyyy' }}</td>
                <td>{{ race.distance | number:1 }}</td>
                <td>{{ race.finishTime * 1000 | date:'H:mm:ss':'UTC' }}</td>
                <td>{{ race.pace | pace }}</td>
                <td bn-index-watch><a ng-href="#/raceplan/edit/{{race.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td bn-index-watch><a ng-click="removePlan(race)"><span class='glyphicon glyphicon-trash'></span></a></td>
            </tr>
        </tbody>
    </table>
    </div>

</div>