<button class="btn pull-right btn" ng-if="loggedIn != true"><a ng-href="#/login">Login</a></button>
<div ng-if="loggedIn == true">
    <button class="btn pull-right btn" ng-click="logout()">Logout</button>

    <div class="btn-group">
        <label class="btn btn" ng-model="radioModel" btn-radio="racekeeper"><a ng-href="#/racekeeper">Past Races</a></label>
        <label class="btn btn" ng-model="radioModel" btn-radio="addrace"><a ng-href="#/racekeeper/addrace">Add a Race</a></label>
        <label class="btn btn" ng-model="radioModel" btn-radio="raceanalysis"><a ng-href="#/racekeeper/raceanalysis">Race Analysis</a></label>
    </div>

    <div class="page-header">
        <h1>Race Tracker</h1>
    </div>

    <p class="lead"><strong>{{ getTotalRaces() }}</strong> Races on Record</p>

    <p>Filter by Distance: <input type="text" ng-model="raceFilter.distance"></p>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>My Races</strong></div>
        <table class="table">
        <thead>
        <tr>
            <th ng-click="sortBy='event';reverse=!reverse">Event</th>
            <th ng-click="sortBy='date';reverse=!reverse">Date</th>
            <th ng-click="sortBy='distance';reverse=!reverse">Distance</th>
            <th ng-click="sortBy='finishTime';reverse=!reverse">Finish Time</th>
            <th ng-click="sortBy='pace';reverse=!reverse">Pace</th>
            <th ng-click="sortBy='totalinRace';reverse=!reverse">Total in Race</th>
            <th ng-click="sortBy='overallPlace';reverse=!reverse">Overall Place</th>
            <th ng-click="sortBy='overallPercentile';reverse=!reverse">Overall %</th>
            <th ng-click="sortBy='totalinGender';reverse=!reverse">Total in Gender</th>
            <th ng-click="sortBy='genderPace';reverse=!reverse">Gender Place</th>
            <th ng-click="sortBy='genderPercentile';reverse=!reverse">Gender %</th>
            <th ng-click="sortBy='totalinDivision';reverse=!reverse">Total in Division</th>
            <th ng-click="sortBy='divisionPlace';reverse=!reverse">Division Place</th>
            <th ng-click="sortBy='divisionPercentile';reverse=!reverse">Division %</th>
            <th>Bib #</th>

        </tr>
        </thead>

        <tbody ng-repeat="race in races | filter: raceFilter | orderBy: sortBy:reverse" class="race">
            <tr>
                <td>{{ race.event }}</td>
                <td>{{ race.date | date:'MMM d, yyyy' }}</td>
                <td>{{ race.distance | number:1 }}</td>
                <td>{{ race.finishTime * 1000 | date:'H:mm:ss':'UTC' }}</td>
                <td>{{ race.pace | pace }}</td>
                <td>{{ race.totalinRace | number }}</td>
                <td>{{ race.overallPlace | number }}</td>
                <td>{{ race.overallPercentile * 100 | number:1 }}</td>
                <td>{{ race.totalinGender | number }}</td>
                <td>{{ race.genderPlace | number }}</td>
                <td>{{ race.genderPercentile * 100 | number:1 }}</td>
                <td>{{ race.totalinDivision | number }}</td>
                <td>{{ race.divisionPlace | number }}</td>
                <td>{{ race.divisionPercentile * 100 | number:1 }}</td>
                <td>{{ race.bibNumber }}</td>
                <td bn-index-watch><a ng-click="removeRace(race)"><span class='glyphicon glyphicon-trash'></span></a></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>