packages:
  yum:
    postgresql93-devel: []

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: project/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: project.settings

commands:
  WSGIPassAuthorization:
    command: sed -i.bak '/WSGIScriptAlias/ aWSGIPassAuthorization On' config.py
    cwd: /opt/elasticbeanstalk/hooks