/*#login-holder {*/
	/*display: none;*/
/*}*/

.protected {
	display: none;
}

.other-color {
    background: url("../img/IMG_1980.JPG") no-repeat center center;
    background-size: cover;
}
#gmaps {
    width: 1050px;
    height: 450px;
}
